/* Styling for the hero */
.hero {
  background-image: url("../../public/images/IMG_1153.JPG");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.hero-welcome {
  background-color: var(--blue);
  padding: 2.5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 3px var(--fg);
  border-radius: 15px;
  text-align: center;
}

.welcome {
  font-style: oblique;
  font-size: 7rem;
  color: var(--lg);
  text-shadow: 2px 1px var(--db);
  margin: 1rem;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.welcome-img {
  max-width: 30%;
  max-height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 3px var(--db);
  border-radius: 10%;
  margin: 1rem;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .welcome {
    display: block;
    position: relative;
    font-size: 5rem;
  }

  .welcome-img {
    max-width: 50%;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: left;
  }

  .hero-content ul {
    font-size: 1.2rem;
    text-align: left;
  }

  .hero-content ul li {
    margin-top: 1.1rem;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-welcome .welcome {
    font-size: 2.9rem;
  }

  .hero-welcome .welcome-img {
    max-width: 65%;
  }

  .hero-content h2 {
    font-size: 1.9rem;
  }

  .hero-content p {
    display: inline-block;
    position: relative;
    font-size: 1.15rem;
  }

  .hero-content ul {
    font-size: 1.15rem;
  }
}
