/* Styling for the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fg: #039203c5;
  --lg: rgb(20, 236, 20);
  --db: #161c6b;
  --blue: #0d15a58f;
  --lb: rgba(26, 117, 175, 0.9);
  --off-white: rgb(247, 241, 241);
}

body {
  background-color: var(--db);
  font-family: "Copperplate", Helvetica, sans-serif;
}

/* sidebar Nav */

.navLinks {
  position: relative;
}

.hamburger {
  position: flex;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 10px;
}

.hamburger:hover {
  background-color: var(--lg);
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: var(--db);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 100vw;
  z-index: 9;
  border-radius: 5px;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav li:first-child {
  margin-top: 5.5rem;
}

/* Styling for the header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--db);
  top: 0;
  z-index: 9999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-item a {
  text-align: left;
  display: block;
  padding: 10px 20px;
}

.nav-link {
  font-size: 2rem;
  font-weight: 400;
  color: var(--off-white);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav-link:hover {
  color: var(--lg);
  text-shadow: none;
}

.green-text {
  font-size: 2rem;
  font-weight: 400;
  color: var(--lg);
  text-shadow: none;
}

.section-header {
  margin-top: 1rem;
  font-size: 5rem;
  text-align: center;
  text-decoration: underline 3px dashed;
  padding: 35px auto 40px auto;
  text-shadow: 2px 1px var(--db);
  color: var(--dg);
}

.subsection-header {
  margin-top: 30px;
  text-align: center;
  padding: 35px auto 40px auto;
  font-size: 4rem;
  color: var(--off-white);
  text-shadow: 2px 2px var(--db);
}

.logo {
  color: var(--off-white);
  text-align: right;
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo:hover {
  color: var(--lg);
}

/* Styling for the page's sections, including the hero and content */
section {
  padding: 50px;
  background-color: var(--blue);
}

a {
  text-decoration: none;
}

.section-alt h2 {
  color: var(--db);
  text-shadow: 2px 1px var(--fg);
}

/* Styling for all content sections */
.content {
  font-size: 1.75rem;
  color: var(--lg);
  margin: 5px auto 5px auto;
  width: 100%;
}

.content p {
  color: var(--off-white);
  font-size: 2rem;
  text-shadow: 2px 2px var(--db);
  margin-top: 1rem;
}

.content h2 {
  font-size: 3rem;
}

.content h3 {
  color: var(--lg);
}

.content a {
  color: var(--off-white);
}

.content a:hover {
  color: var(--lg);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.text-right {
  text-align: right;
}

.content ul {
  color: var(--off-white);
  list-style-type: none;
  font-size: 2rem;
}

.content ul li {
  margin: 1rem;
}

/* Styling for the footer */
footer {
  background: var(--db);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  color: var(--off-white);
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
