/* Styling for the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fg: #039203c5;
  --lg: rgb(20, 236, 20);
  --db: #161c6bee;
  --blue: #0d15a58f;
  --lb: rgba(26, 117, 175, 0.9);
  --off-white: rgb(247, 241, 241);
}

body {
  background-color: var(--fg);
  font-family: "Copperplate", Helvetica, sans-serif;
}

/* Styling for the header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--db);
  top: 0;
  z-index: 9999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 10em;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--off-white);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav-link:hover {
  color: var(--lg);
  text-shadow: none;
}

.green-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--lg);
  text-shadow: none;
}

.nav-link:focus {
  color: var(--lg);
  text-shadow: none;
}

.section-header {
  margin-top: 50px;
  font-size: 6rem;
  text-align: center;
  padding: 35px auto 40px auto;
  color: var(--lg);
}

.logo {
  color: var(--off-white);
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo:hover {
  color: var(--lg);
}

/* Styling for the page's sections, including the hero and content */
section {
  padding: 50px;
  background-color: var(--blue);
}

a {
  text-decoration: none;
}

.section-alt {
  background-color: var(--fg);
  width: 100%;
}

.section-alt h2 {
  color: var(--db);
}

/* Styling for the hero */
.hero {
  background-image: url("../public/images/IMG_1153.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  margin: 0;
}

.hero-welcome {
  background-color: var(--lb);
  padding: 5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 5px var(--fg);
  border-radius: 15px;
  text-align: center;
}

.welcome {
  font-style: oblique;
  font-size: 7rem;
  color: rgb(27, 218, 68);
  margin: 0 30px 30px 30px;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.welcome-text {
  margin-top: 1em;
  font-size: 2.5em;
  font-style: bold;
  margin: 0 30px 30px 30px;
}

.welcome-img {
  max-width: 20em;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 3px var(--fg);
  border-radius: 25%;
  margin: 0 30px 30px 30px;
}

/* Styling for all content sections */
.content {
  font-size: 1.5em;
  color: var(--lg);
  margin: 5px auto 5px auto;
  width: 100%;
}

.content p {
  color: var(--off-white);
}

.content h3 {
  color: var(--lg);
}

.content a {
  color: var(--off-white);
}

.content a:hover {
  color: var(--lg);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.text-right {
  text-align: right;
}

.work-instructions {
  text-align: center;
  color: var(--off-white)
}

/* Styling for the work section */
.wrapper {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px;
  border-radius: 15px;
  margin: 10px auto 10px auto;
}

.project-img {
  display: block;
  border: solid 5px var(--lg);
  margin: 30px auto 30px auto;
  border-radius: 15px;
  max-width: 500px;
  max-height: 400px;
}

.project-img:hover {
  border: solid 10px var(--lb);
}

.image-wrapper:hover {
  background-color: var(--blue);
}

.project-title {
  color: var(--off-white);
  font-size: 2em;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* Styling for the contact me section */
.form {
  border: solid 5px var(--fg);
  border-radius: 10px;
}

.form-label {
  color: var(--off-white);
}

.form-input {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
}

.form-button {
  border-radius: 5px;
  background-color: var(--lg);
  font-weight: bold;
  font-size: 1em;
  margin-top: 20px;
  padding: 5px;
}

.contact-address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--off-white);
  font-size: 25px;
  padding: 1em;
  margin: 10px auto 3px auto;
  width: auto;
  background-color: var(--lb);
  border: solid 5px var(--fg);
  border-radius: 10%;
}

.contact-address .addresses {
  font-size: 1.5rem;
}

/* Styling for the resume section */
#resume {
  padding: 5em 0 15em 0;
  text-align: center;
}

.resume {
  width: 50%;
  height: 50em;
  border: solid 5px var(--db);
  background-color: var(--db);
}

#resume h2:hover {
  color: var(--off-white);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* Styling for the footer */
footer {
  background: var(--db);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  color: var(--off-white);
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .nav-item {
    font-size: 0.1rem;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  section {
    width: 100%;
  }

  .content h2 {
    text-align: center;
    padding-bottom: 25px;
  }

  .lt2 {
    top: 42%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
    margin: auto;
  }

  .hero-welcome h2 {
    display: block;
    position: relative;
  }

  .hero-content p {
    display: inline-block;
    position: relative;
    font-size: 2.2rem;
  }

  #resume {
    max-height: 100px;
  }

  .resume {
    display: none;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .logo {
    font-size: 0.75rem;
  }

  .nav-item {
    margin-left: 5.6em;
  }

  .nav-link {
    font-size: 3em;
  }

  .section-header {
    font-size: 2.5rem;
  }

  .content {
    font-size: 1em;
  }

  .welcome {
    font-size: 2.5rem;
  }

  .welcome-img {
    max-width: 12em;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .projects img {
    max-width: 200px;
    max-height: 150px;
  }

  .link-text {
    font-size: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }

  .contact-address {
    width: auto;
    height: auto;
    text-align: start;
  }

  .contact-address .addresses {
    width: auto;
    height: auto;
    font-size: 0.7em;
  }

  .lt1,
  .lt2,
  .lt3AndUp {
    max-width: 200px;
    max-height: 150px;
    top: 36%;
  }
}
